.nav-container {
  padding: 1.5rem;
  display: flex;
}

.nav-logo {
  display: flex;
  align-items: center;
  font-weight: 800;
  flex: 1;
}
.menu {
  display: flex;
  gap: 3rem;
  align-items: center;
}




.menu-choices {
  display: flex;
  gap: 3rem;
  font-weight: 500;
  list-style: none;
  padding-left: 0;
  cursor: pointer;
}

.search-bar {
  width: 10rem;
  height: 1.1rem;
  padding: 0.2rem;
  border-radius: 0.3rem;
  border: 0.1em solid #448996;
  
  
}
.search-bar[type="text"]{
    font-size: .8em;
    padding-left: 0.5em;
}
.user-icon{
  width: 1.1em;
    height: 1.1em;
    cursor:pointer;
}