.item-count {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 2.5rem;
}

.btn-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  padding: 1rem;
  width: 6rem;
  background-color: #e7e7e7;
  border-radius: 0.2rem; 
  font-size: 1.2rem;
  color: green;
}

.btn-separator{
    width: 5rem;
    height: 1.8rem;
    color:green;
    border: none;
    border-radius: 0.2rem;
    background-color: #bfbebe;
    font-size: 1.5rem;
    text-align: center;
}

.add-to-cart{
    font-size: 18px;
    padding: 8px 16px;
    margin-top: 2rem;
    border: none;
    outline: none;
    border-radius: 0.2rem;
    cursor:pointer;
    color:white;
    background-color:#3e3e3f; 

}

